<div class="container-fluid">
    <div class="row">
        <div class="col-10 ">
            <div class="w-auto d-flex justify-content-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7489.251388546485!2d-4.775897875939212!3d37.88737000063333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1649172049716!5m2!1ses!2ses"
                    width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-2 border m-0 p-0">
            <ul class="nav flex-column border">
                <li class="nav-item">
                    <a class="nav-link border border-bottom text-black" aria-current="page" href="#">Filtros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">filtro1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">filtro2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">filtro3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">filtro4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">filtro5</a>
                </li>
            </ul>
        </div>
    </div>
</div>