<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <app-googlemaps [numEventosRecientes]="numEventosRecientes"></app-googlemaps>
                </div>
                <div class="col-12">
                    <h3 class="my-4 p-3 bg-light">Próximos Eventos</h3>
                    <app-proximos-eventos></app-proximos-eventos>
                </div>
            </div>
        </div>
        <div class="col-3 m-0 p-0">
            <app-menu-busqueda></app-menu-busqueda>
        </div>
    </div>

</div>