<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <form [formGroup]="frmEvento" (submit)="crearEditarEvento()">
                        <!-- Nombre input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="name" class="form-control" formControlName="name" />
                            <label class="form-label" for="name">Nombre del Evento</label>
                        </div>

                        <!-- Descripción input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="description" rows="4"
                                formControlName="description"></textarea>
                            <label class="form-label" for="description">Descripción del Evento</label>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <!-- Fecha Inicio input -->
                                <div class="form-outline">
                                    <input type="date" id="dateStart" class="form-control" formControlName="dateStart"
                                        min="{{fechaMin | fecha}}" />
                                    <label class="form-label" for="dateStart">Fecha Inicio</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <!-- Hora Inicio input -->
                                <div class="form-outline">
                                    <input type="time" id="timeStart" class="form-control"
                                        formControlName="timeStart" />
                                    <label class="form-label" for="timeStart">Hora Inicio</label>
                                </div>
                            </div>
                        </div>
                        <!-- Ubicación input ¡¡OCULTAR!!-->
                        <input type="text" id="ubi" class="form-control mb-4" formControlName="ubi" hidden />

                        <div class="form-outline mb-4">

                            <mat-form-field>
                                <mat-label>Etiquetas</mat-label>
                                <mat-select multiple formControlName="tags">
                                    <mat-option *ngFor="let tag of tagsList" [value]="tag.id">{{tag.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-list aria-label="Fish selection" *ngIf="eventTags.length != 0">
                                <mat-chip *ngFor="let ele of eventTags">{{ele.nombre}}</mat-chip>
                            </mat-chip-list>
                        </div>

                        <!-- Precio input -->
                        <div class="form-outline mb-4" hidden>
                            <div class="input-group">
                                <input type="number" id="price" class="form-control" readonly formControlName="price" />
                                <span class="input-group-text">€</span>
                            </div>
                            <label class="form-label" for="price">Precio</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" id="botonEvento" [disabled]="frmEvento.invalid"
                            class="btn btn-primary mb-4">Guardar
                            Evento</button>
                        <button type="button" id="botonCancelarBorrar" (click)="cancelarBorrarEvento()"
                            class="btn btn-danger ms-2 mb-4">Cancelar
                            Evento</button>
                    </form>
                </div>
                <div class="col-6">
                    <app-googlemaps [currentPosition]="currentPosition" (newPositionEvent)="addPosition($event)">
                    </app-googlemaps>
                </div>
            </div>

        </div>
    </div>
</div>