<div class="w-100 rounded p-2 mb-2 text-center primary">
    <h2 class="p-0 m-0">{{"FILTROS.TITLE" | translate}}</h2>
</div>

<form [formGroup]="frmFiltro" (submit)="filtrarEventos()" class="mt-2">

    <mat-accordion class="example-headers-align">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="primary">
                    {{"FILTROS.CIUDAD" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-select placeholder="Select an option" formControlName="ciudad">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let ele of cities" [value]="ele.id">
                    {{ele.nombre}}
                </mat-option>
            </mat-select>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="primary">
                    {{"FILTROS.CATEG" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-select multiple formControlName="etiquetas" placeholder="{{'EVENTO.ETIQUETAS' | translate}}">
                <mat-option *ngFor="let ele of tags" [value]="ele.id">{{ele.nombre}}
                </mat-option>
            </mat-select>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="primary">
                    {{"FILTROS.FECHA" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <label for="dateStart">{{"FILTROS.INICIO" | translate}}</label>
            <input type="date" id="dateStart" class="form-control mb-2" formControlName="fechaInicio" />
            <label for="dateEnd">{{"FILTROS.FIN" | translate}}</label>
            <input type="date" id="dateEnd" class="form-control" formControlName="fechaFin" />
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="primary">
                    {{"FILTROS.HORA" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <label for="timeStart">{{"FILTROS.INICIO" | translate}}</label>
            <input type="time" id="timeStart" class="form-control mb-2" formControlName="horaInicio" />
            <label for="timeEnd">{{"FILTROS.FIN" | translate}}</label>
            <input type="time" id="timeEnd" class="form-control" formControlName="horaFin" />
        </mat-expansion-panel>

    </mat-accordion>

    <button mat-icon-button color="primary" matTooltip="Buscar" class="w-100 rounded-pill text-center border mt-3">
        {{"FILTROS.BUSCAR" | translate}} <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <!-- <button class="btn btn-outline-success w-100 rounded-pill text-center" type="submit">
        Buscar <i class="fa-solid fa-magnifying-glass"></i>
    </button> -->

</form>