<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
        <h1 mat-dialog-title>{{data.nombre}}</h1>
    </div>
    <div class="flex-shrink-1 bd-highlight p-0 m-0">
        <div mat-dialog-actions class="p-0 m-0">
            <button mat-button mat-dialog-close class="p-0 m-0 btn"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-9">
            <mat-card class="">
                <mat-card-header class="mb-3">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nombre</mat-card-title>
                    <mat-card-subtitle>Email</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <div class="mb-3">
                        <p>Categorías</p>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>One fish</mat-chip>
                            <mat-chip>Two fish</mat-chip>
                            <mat-chip color="primary" selected>Primary fish</mat-chip>
                            <mat-chip color="accent" selected>Accent fish</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div>
                        <p>
                            {{data.descripcion}}
                        </p>
                    </div>
                    <div>
                        <p>Fecha Inicio: {{data.fechaInicio}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column">
                <button class="btn border my-2">opt1</button>
                <button class="btn border mb-2">opt2</button>
                <button class="btn border mb-2">opt3</button>
                <button class="btn border mb-2">opt4</button>
            </div>
        </div>
    </div>



</div>