<div class="container w-100 h-100 p-4 m-0 rounded" style="background-color: #e3f2fd;">
    <div class="row mb-3">
        <div class="col-10">
            <h1 class="fw-bold">{{data.nombre}}</h1>
            <!-- <mat-divider></mat-divider> -->
        </div>
        <div class="col-2">
            <button mat-button mat-dialog-close class="w-100"><i class="fa-solid fa-x"></i></button>
        </div>

    </div>
    <div class="row">
        <div class="col-9">

            <mat-card class="">
                <mat-card-header class="mb-3">
                    <div mat-card-avatar class="example-header-image">
                        <img mat-card-avatar src="{{data.avatar}}" alt="" *ngIf="data.avatar">
                    </div>
                    <mat-card-title>{{data.usu}}</mat-card-title>
                    <mat-card-subtitle>{{data.email}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="mb-3">
                        <p class="fw-bold">{{"EVENTO.ETIQUETAS" | translate}}</p>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip *ngFor="let ele of eventTags">{{ele.nombre}}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="mt-2 mb-3 form-outline">
                        <label class="form-label fw-bold" for="textAreaExample">{{"EVENTO.DESCRIPCION" |
                            translate}}</label>
                        <textarea class="form-control" id="textAreaExample1" rows="4"
                            readonly>{{data.descripcion}}</textarea>
                    </div>
                    <div>
                        <p>{{"EVENTO.FECHA_HORA_INICIO" | translate}}: {{data.fechaInicio}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
            </mat-card>

        </div>
        <div class="col-3">
            <div class="d-flex flex-wrap">
                <button mat-raised-button color="warn" (click)="likeOrDeleteLike(data.id)" class="mb-2">
                    <mat-icon>favorite</mat-icon> {{"BOTONES.LIKE" | translate}}
                </button>
                <button mat-raised-button color="primary" matTooltip="{{'BOTONES.PARTICIPAR_EVENTO' | translate}}"
                    class="mb-2" (click)="participarEvento(data.id)">
                    <i class="fa-solid fa-hand"></i> {{"BOTONES.PARTICIPAR" | translate}}
                </button>
            </div>
        </div>
    </div>
</div>