<div class="d-flex justify-content-start align-items-center">
    <h1 mat-dialog-title class="me-2 m-0 p-0">{{"DIALOG.PROYECTO" | translate}} EVENTOPS</h1>
    <img src="{{HREF_BASE}}/assets/IMG/logoMapaTextoSE.png" alt="">
</div>

<mat-divider></mat-divider>

<div mat-dialog-content class="mt-3">
    <!-- Proyecto realizado por Sergio Espejo Illanes, cursante de ciclo superior de<br>
    <i>Desarrollo de Aplicaciones Web (DAW)</i> impartido en el instituto <a
        href="https://www.iestrassierra.com/"><b>I.E.S Trassierra</b></a>, <br>
    y supervisado por Mari Luz Sánchez Rubio profesora y tutora.<br> -->

    {{"DIALOG.TEXTO_ABOUT_1" | translate}}, {{"DIALOG.TEXTO_ABOUT_2" | translate}} <br> <i>{{"DIALOG.TEXTO_ABOUT_3" |
        translate}}</i>
    {{"DIALOG.TEXTO_ABOUT_4" | translate}} <a href="https://www.iestrassierra.com/"><b>{{"DIALOG.TEXTO_ABOUT_5" |
            translate}}</b></a>, <br> {{"DIALOG.TEXTO_ABOUT_6" | translate}}.
</div>


<div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{"BOTONES.CERRAR" | translate}}</button>
</div>