<div class="w-auto border">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link border border-bottom text-black" aria-current="page" href="#">Menú</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Crear Evento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mis Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Me gustan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lista Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ajustes</a>
        </li>
    </ul>
</div>