<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ele of listEvents;" title="{{ele.descripcion}}">
            <th scope="row">{{ele.nombre}}</th>
            <td>{{ele.fechaInicio}}</td>
            <td>{{ele.precio}}€</td>
        </tr>
    </tbody>
</table>

<div class="d-flex flex-row bd-highlight mb-3">
    <div class="card m-2" style="width: 18rem;" *ngFor="let ele of listEvents;">
        <div class="card-body">
            <h5 class="card-title">{{ele.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Inicio: {{ele.fechaInicio}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">FIn: {{ele.fechaFin}}</h6>
            <p class="card-text">{{ele.descripcion}}</p>
            <a routerLink="#" class="card-link">Editar</a>
            <a routerLink="#" class="card-link">Borrar</a>
        </div>
    </div>
</div>