<!-- <button type="button" class="btn btn-outline-primary w-100 mb-2" disabled>{{"MENU.TITLE" | translate}}</button> -->
<div class="w-100 border border rounded p-2 mb-2 text-center" style="color:#3f51b5;">
  <h2 class="p-0 m-0">{{"MENU.TITLE" | translate}}</h2>
</div>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a routerLink="saveEvent" routerLinkActive="activo" mat-button color="primary" class="w-100 p-0 border-bottom">
      <span class="bi me-2 text-success" width="16" height="16"><i class="fa-solid fa-plus"></i></span>
      {{"MENU.CREAR_EVENTO" | translate}}
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="listEvents" routerLinkActive="activo" mat-button color="primary" class="w-100 p-0 border-bottom">
      <span class="bi me-2 text-dark" width="16" height="16"><i class="fa-solid fa-eye"></i></span>
      {{"MENU.MIS_EVENTOS" | translate}}
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/likes" routerLinkActive="activo" mat-button color="primary" class="w-100 p-0 border-bottom">
      <span class="bi me-2 text-danger" width="16" height="16"><i class="fa-solid fa-heart"></i></span>
      {{"MENU.ME_GUSTAN" | translate}}
    </a>
  </li>

  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="admin/listEvents" routerLinkActive="activo" mat-button color="primary" class="w-100 p-0 border-bottom">
      <span class="bi me-2 text-dark" width="16" height="16"><i class="fa-solid fa-list"></i></span>
      {{"MENU.LISTA_EVENTOS" | translate}}
    </a>
  </li>

  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="admin/listUsers" routerLinkActive="activo" mat-button color="primary" class="w-100 p-0 border-bottom">
      <span class="bi me-2 text-dark" width="16" height="16"><i class="fa-solid fa-list"></i></span>
      {{"MENU.LISTA_USU" | translate}}
    </a>
  </li>
</ul>