<!-- <div class="w-auto border rounded">
    <ul class="nav flex-column">
        <li class="nav-item text-center mb-2">
            <h3 class="p-2 m-2 border-bottom">Menú</h3>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Crear Evento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mis Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Me gustan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lista Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ajustes</a>
        </li>
    </ul>
</div> -->

<div class="list-group">
    <div class="text-center">
        <h3 class="list-group-item m-0">Menú</h3>
    </div>
    <a href="#" class="list-group-item list-group-item-action">Crear Evento</a>
    <a href="#" class="list-group-item list-group-item-action">Mis Eventos</a>
    <a href="#" class="list-group-item list-group-item-action">Me gustan</a>
    <a href="#" class="list-group-item list-group-item-action">Lista Eventos</a>
    <a href="#" class="list-group-item list-group-item-action">Ajustes</a>

</div>